<nav class="header">
    <span class="logo">SHAWN CHEN</span>
    <ul>
        <li><a href="#/travel">TRAVELS</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</nav>
<div class="banner">
    <h1>Shades of Light</h1>
</div>
<footer>
    <div class="row footwork"></div>
        <div class="image-container col-sm-3">
            <img src="./img/scx.jpg">
        </div>
        <div class="content col-sm-9">
            <p>
                <span class="author">I</span> see life as spectrum of light in <em>interweaving colors</em> and <em>shades of gray</em>.  Life as we would, be a carefree breeze that travels through the light and night or as dancing sparks off smelting bloom.  We transcend light that is life.
            </p>
            <p>
                I am a husband, parent and IT technologist in the Silicon Valley, San Francisco area.  For the last two decades I have actively traveled to see the many colors and shades of life.
            </p>
        </div>
</footer>